.article h2 {
    color: burlywood;
}

.article {
    background-image: linear-gradient(to top, #000000, #373537, #6a6b70, #9da6ad, #d4e7ea);
}

section {
    height: 100vh;
    padding: 0 clamp(4rem, 12vw, 20rem);

    font-family: monospace;
    display: flex;
    align-items: flex-start;

    p {
        font-size: clamp(2rem, 2vw, 8rem);
    }

}

section:nth-of-type(4) {
    background-color: antiquewhite;
    color: #000000;
}

.poster {
    h1 {
        color: #000000;
    }

    justify-content: center;
    align-items: center;
    background-image: url('/images/Conference.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}